<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDN55OArhB-bR6nAdJrdiBvktVJyCUg0Jw",
            authDomain: "mineral-bonus-93910.firebaseapp.com",
            databaseURL: "https://mineral-bonus-93910.firebaseio.com",
            projectId: "mineral-bonus-93910",
            storageBucket: "mineral-bonus-93910.appspot.com",
            messagingSenderId: "246818735013"
        };
        firebase.initializeApp(config);
    </script>
    <style type="text/css">
        a {
            text-decoration: none;
        }

        .header {
            height: 64px;
            background-color: #1B2B36;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            z-index: 2;
            display: flex;
            align-items: center;
        }

        .logo-area {
            height: 48px;
            color: white;
            display: flex;
            justify-content: flex-start;
            flex: 2;
            padding-left: 16px;
        }

        .logo-area span {
            display: inline-block;
            line-height: 48px;
            font-size: 24px;
            padding-left: 16px;
        }

        .logo-area img {
            height: 48px;
        }

        .header-content {
            flex: 7;
            min-height: 1px;
        }

        html, body {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            display: flex;
            font-family: sans-serif;
            flex-flow: column nowrap;
        }

        iframe {
            flex: 7;
            outline: none;
            border: none;
            background-color: #F5F5F5;
        }

        .content-wrapper {
            display: flex;
            flex: 1;
        }

        .sidebar {
            position: relative;
            flex: 2;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            z-index: 1;
            padding: 16px 0;
            background-color: #1B2B36;
        }

        .sidebar-animate {
            transition: all 200ms ease;
        }

        .dashboards {
            list-style-type: none;
            padding: 0;
        }

        .dashboard-list-item {
            padding: 8px 0;
            width: 100%;
            cursor: pointer;
            transition: all 100ms ease-in-out;
        }

        .dashboard-list-item:hover {
            background-color: #15232C;
        }

        .dashboard-list-item:last-child {
            border-bottom: none;
        }

        .dashboard-list-item a {
            text-decoration: none;
            display: inline-block;
            width: 100%;
            padding: 0 24px;
            color: #869FB1;
            font-weight: bold;
            transition: all 50ms ease-in-out
        }

        .selected {
            background-color: #15232C !important;
        }

        .selected a {
            color: white !important;
        }

        .collapse-button {
            cursor: pointer;
            position: absolute;
            left: 100%;
            top: 24px;
            padding: 12px 12px;
            display: inline-block;
            font-size: 32px;
            color: #869FB1;
            background-color: #162431;
        }

        .collapsed {
            width: 0;
            flex-grow: 0.00001;
        }

        .collapsed ul {
            opacity: 0;
            visibility: hidden;
        }

        .links {
            position: absolute;
            bottom: 0;
            list-style-type: none;
            background-color: #253541;
            width: 100%;
            padding: 0;
            margin-bottom: 0;
        }

        .links li {
            padding: 8px 0;
        }

        .links li a {
            padding: 0 24px;
            color: #869FB1;
        }

        .user-picture {
            position: relative;
            right: -95%;
            height: 80%;
            border-radius: 3px;
        }

        .logout-dropdown {
            position: absolute;
            right: 0;
            top: 64px;
            padding: 16px;
            background-color: #ffffff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }

        .logout-button {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: .1rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            color: #ffffff;
            background-color: #1B2B36;
            border: none;
            outline: none;
        }

        .logout-button:hover {
            background-color: #3a576c;
        }
    </style>
</head>
<body>
<div class="header">
    <a href="http://dakshindia.org/" target="_blank">
        <div class="logo-area">
            <img src="{{ url_for('static', filename='img/daksh_logo.png') }}">
            <span>Daksh</span>
        </div>
    </a>
    <div class="header-content">
        <a href="javascript:toggleLogoutButton()">
            <img class="user-picture">
        </a>
        <div class="logout-dropdown">
            <button type="button" class="logout-button" onclick="logOut()">Log out</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <div class="sidebar sidebar-animate">
        <div class="collapse-button" onclick="toggleSidebar()">
            <a><</a>
        </div>
        <ul class="dashboards">
        </ul>
        <ul class="links">
            <li>
                <a href="http://dakshindia.org/data-dictionary/">Data dictionary</a>
            </li>
            <li>
                <a href="http://dakshindia.org/state-of-the-judiciary-report/">State of the Judiciary Report</a>
            </li>
            <li>
                <a href="http://dakshindia.org/blog/">Daksh Blog</a>
            </li>
        </ul>
    </div>
    <iframe class="dashboard-container"
            onerror="alert('Uh oh! Something went wrong. Please reload the page.');"></iframe>
</div>
<script>
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            $('.logout-dropdown').hide();
            $('.user-picture').attr('src', user.photoURL);
            $.get('/get-links', function(data) {
                console.log(data);
            });
            $.ajax({
                type: "POST",
                xhrFields: {
                    withCredentials: true
                },
                url: '/login',
                success: function (data) {
                    console.log('done');
                    loadDashboards();
                }
            });
        } else {
            window.location.replace('/login');
        }
    });

    function toggleLogoutButton() {
        $('.logout-dropdown').toggle(225);
    }

    function logOut() {
        firebase.auth().signOut()
            .then(function() {
                window.location.replace('/login');
            })
    }

    function loadDashboards() {
        $.ajax({
            type: "GET",
            url: '/api/saved_objects/_find?type=dashboard',
            success: function (data) {
                data['saved_objects'].forEach(function (e) {
                    $('.dashboards').append(`<li class="dashboard-list-item"><a onclick="getDashboard(this, '${e.id}')">${e.attributes.title}</a></li>`);
                });
                $('.dashboards li:first-child a').click();
            },
            dataType: 'json'
        });
    }

    function getDashboard(el, id) {
        $('.dashboard-container').attr('src', `/app/kibana#/dashboard/${id}?embed=true&_g=()`);
        $('.dashboard-list-item').each(function (i, e) {
            e.classList.remove('selected');
        });
        el.parentElement.classList.add('selected');
        console.log(id);
    }

    var sidebarOpen = true;

    function toggleSidebar() {
        sidebarOpen = !sidebarOpen;
        if (sidebarOpen) {
            $('.sidebar').removeClass('collapsed');
            $('.collapse-button').text('<');
        } else {
            $('.sidebar').addClass('collapsed');
            $('.collapse-button').text('>');
        }
    }
</script>
</body>
