<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"/>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDN55OArhB-bR6nAdJrdiBvktVJyCUg0Jw",
            authDomain: "mineral-bonus-93910.firebaseapp.com",
            databaseURL: "https://mineral-bonus-93910.firebaseio.com",
            projectId: "mineral-bonus-93910",
            storageBucket: "mineral-bonus-93910.appspot.com",
            messagingSenderId: "246818735013"
        };
        firebase.initializeApp(config);
    </script>
    <script type="text/javascript">
        // FirebaseUI config.
        var uiConfig = {
            signInSuccessUrl: '/portal',
            signInOptions: [
                // Leave the lines as is for the providers you want to offer your users.
                firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                firebase.auth.FacebookAuthProvider.PROVIDER_ID,
                firebase.auth.TwitterAuthProvider.PROVIDER_ID,
                firebase.auth.EmailAuthProvider.PROVIDER_ID,
            ],
            // tosUrl and privacyPolicyUrl accept either url string or a callback
            // function.
            // Terms of service url/callback.
            tosUrl: '<your-tos-url>',
            // Privacy policy url/callback.
            privacyPolicyUrl: function () {
                window.location.assign('<your-privacy-policy-url>');
            }
        };

        // Initialize the FirebaseUI Widget using Firebase.
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        // The start method will wait until the DOM is loaded.
        ui.start('#firebaseui-auth-container', uiConfig);

        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                var user_object = {
                    displayName: user.displayName,
                    email: user.email,
                    emailVerified: user.emailVerified,
                    photoURL: user.photoURL,
                    isAnonymous: user.isAnonymous,
                    uid: user.uid,
                    providerData: user.providerData,
                };
                $.post('/save-user', user_object, function () {
                    location.href = xhr.getResponseHeader('Location');
                }, 'json')
                // ...
            } else {
                // User is signed out.
                // ...
            }
        });
    </script>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            background-color: #F5F5F5;
        }

        .login-form-container {
            background-color: #1B2B36;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding: 16px;
        }

        .logo-area {
            height: 48px;
            color: white;
            display: flex;
            justify-content: flex-start;
            flex: 2;
            padding: 0 0 16px 16px;
        }

        .logo-area span {
            display: inline-block;
            line-height: 48px;
            font-size: 24px;
            padding-left: 16px;
            font-family: sans-serif;
        }

        .logo-area img {
            height: 48px;
        }

        .no-decoration {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="login-form-container">
    <a href="http://dakshindia.org/" target="_blank" class="no-decoration">
        <div class="logo-area">
            <img src="{{ url_for('static', filename='img/daksh_logo.png') }}">
            <span>Daksh</span>
        </div>
    </a>
    <div id="firebaseui-auth-container"></div>
</div>
</body>
</html>